body{
	background-color:#F0F8FF;
}
img{
width: 300px;
  height: 200px;
}
h1{
	color:#4682b4;
	font-size:300%;
	font-family:Monospace;
	
}
h2{
	color:#4682b4;
font-family:Monospace;
}
p,li,td{
	font-family:Monospace;
	font-size:130%;
	font-weight: bold;
}
.carac{
	color:#ffc40c;
}
a{
	color:red;
}