body{
	background-color:#F0F8FF;
}
.img1 {
  width: 170px;
  height: 170px;
  border-radius: 50%;
}
.img2{
width: 100px;
  height: 50px;
}
.header {
  background-image: url("./1.jpg");
    background-size: 1400px 190px;
background-repeat:no-repeat;

}
.footer{
background-color:#F0F8F4;
}
.section{
  margin-left: 30px;
}
