#circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.circle1 {
  position: absolute;
  border-radius: 50%;
}
