body {
  font-family: arial;
}
.header {
  text-align: center;
  background-color: #add8e6;
  padding: 30px;
}
.navbar {
  display: flex;
  background-color: #4d5d53;
}
.navbar > a {
  border-right-style: solid;
  border-color: black;
  padding: 15px;
  color: white;
  text-align: center;
}
.footer {
  text-align: center;
  background-color: #4d5d53;
  padding: 30px;
}
h2 {
  font-family: serif;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.div1 {
  flex: 10%;
  background-color: #808080;
  padding: 90px;
  text-align: center;
}
.div2 {
  flex: 30%;
  background-color: #c0c0c0;
  padding: 90px;
  text-align: center;
}
.div3 {
  flex: 10%;
  background-color: #e5e4e2;
  padding: 90px;
  text-align: center;
}
